.chatHeaderWrapper{
    display: flex;
    align-content: space-between;
    margin: 3% 0 3% -2%;
  

}
.chatHeaderEl{
    text-align: center;
    min-width: 150px; 
    
}

#messagesDiv{
    overflow: auto;
    min-height: 2000px;
    padding-bottom: 10%
}

#messageBox{
    position: fixed;
    bottom:5%; 
    width: 70%;
    margin-top: 10%;
   

}

.chatProfilePic{
    width:50px;
    height:50px;
    border-radius: 100%;
}

.eachChatWrapper{
    display: flex;
    gap: 2%;
    padding-bottom: 3%
}