.chatHeaderWrapper{
    display: flex;
    align-content: space-between;
    margin: 3% 0 3% -2%;
  

}
.chatHeaderEl{
    text-align: center;
    min-width: 150px; 
    
}

#messagesDiv{
    overflow: auto;
    min-height: 1000px;
    padding-bottom: 10%
}

#messageBox{
    position: fixed;
    bottom:10%; 
    width: 70%;
    margin-top: 10%;
   

}

.chatProfilePic{
    width:50px;
    height:50px;
    border-radius: 100%;
}

.eachChatWrapperInside, .eachChatWrapperOutside{
    display: flex;
    gap: 2%;
 

}

.eachChatWrapperInside{
    width:80%
}

.eachChatWrapperOutside{
    justify-content: space-between;
    margin-bottom: 5%;

}

.eachChatWrapperOutside:hover {
  background-color: #183a1d;
  color:whitesmoke;
  border-radius: 5px;
}