.chatHeaderWrapper{
    display: flex;
    align-content: space-between;
    margin: 3% 0;
  

}
.chatHeaderEl{
    text-align: start;
    min-width: 300px;
    font-weight: bolder;
    font-size: larger;
    /* margin-left: -8%; */
    
    
}

#messagesDiv{
    overflow: auto;
    min-height: 1200px;
    padding-bottom: 10%
}

#messageBox{
    position: fixed;
    bottom:9px; 
    width: 70%;
    margin-top: 10%;
   

}

.chatProfilePic{
    width:50px;
    height:50px;
    border-radius: 100%;
}

.eachChatWrapperInside, .eachChatWrapperOutside{
    display: flex;
    gap: 2%;
 

}

.eachChatWrapperInside{
    width:80%
}

.eachChatWrapperOutside{
    justify-content: space-between;
    margin-bottom: 5%;

}

.eachChatWrapperOutside:hover {
  background-color: #183a1d;
  color:whitesmoke;
  border-radius: 5px;
}