.Wrapper{
    display: flex;
    border: 2.5px solid #183a1d;
    border-radius: 5px;
    /* min-height: 90%; */
    height: 87vh;
    
}
.leftBarWrapper{
    width: 25%;
    background-color: #e1eedd;
    height: 87vh;
    overflow: auto;

    
}
.mainContentWrapper{
    width: 75%;
    border-left: 1px solid #183a1d;
    padding-left: 2%;


}

.groupsWrapper{
    margin:3%;
    color:#183a1d
}
.groupEl{
    margin:2% 0 2% 3%;
    display: block;
    width: 100%;
    text-align: start;
    overflow-wrap:break-word;
    /* get rid of all default stylings of the buttons */
   	background: none;
	color: inherit;
	border: none;
	padding: 2%;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    

}

.groupEl:hover, .momentHover:hover {
  background-color: #183a1d;
  color:whitesmoke;
  border-radius: 5px;
}



.highlight{
    background-color: #183a1d;
    color:whitesmoke;
    border-radius: 5px;
}