.Wrapper{
    display: flex;
    border: 1px solid #183a1d;
   border-radius: 5px;
    min-height: 90%;
}
.leftBarWrapper{
    width: 25%;
    border: 1px solid #183a1d;
    
}
.mainContentWrapper{
    width: 75%;
    border: 1px solid #183a1d;
    padding-left: 2%;

}

.groupsWrapper{
    margin:3%;
    color:#183a1d
}
.groupEl{
    margin:2% 0 2% 3%;
    display: block;
    /* get rid of all default stylings of the buttons */
   	background: none;
	color: inherit;
	border: none;
	padding: 2%;
	font: inherit;
	cursor: pointer;
	outline: inherit;

}

.groupEl:hover {
  background-color: #183a1d;
  color:whitesmoke;
  border-radius: 5px;
}


.highlight{
    background-color: #183a1d;
    color:whitesmoke;
    border-radius: 5px;
}