/* TODO Add site wide styles */
html, body{
    /* background-color: #e1eedd;  */
    font-size: larger;
    font-family: serif;

}




.messageInput{
    background-color: #e1eedd;
    width:100%;
    height:90px;
    border:1px solid #183a1d;
    border-radius: 5px;
    font-size: larger;
    resize: none;

}

.btn{
    background-color: #e1eedd;
    border:1px solid #183a1d;
    border-radius: 5px;  

    height:44px;
    width: 80px;
    font-size: large;
    margin-bottom: 1%;
    
}

.middleBtn{
    background-color: #e1eedd;
    border:none;
    height:35px;
    width: 42px;

}

.middleBtn2{
    background-color: #e1eedd;
    border:1px solid lightgray;
    border-radius: 5px; 
    height:35px;
    width: 75px;
}

.smallBtn{
    background-color: #e1eedd;
    border:1px solid #183a1d;
    border-radius: 3px;  
}



.formWrapper{ 
    display: "flex";
    flex-direction: 'column';
    align-items: 'center';

    overflow: auto; 
    max-height: 700px;
    min-width:  500px;
    border-radius: '5px';
 
}

.formInput{
    width:90%;
    min-height: 45px;
    border-radius: 5px;
    background-color: #e1eedd;
    font-size: large;
       
}

.formInputWrapper{
    margin: 3% 7%;
    /* margin-left: 10%; */

}

.formBtn{
    height: 40px;
    width: 80%;
    background-color: #e1eedd;
    border:1px solid #183a1d;
    border-radius: 5px;
    margin-bottom: 3%;
    margin-left: 7%;
    font-size: large;
}

label{
    display: block;
}