.tech, .tech2{
    color: #183a1d;
    display: block;
    width: 200px;
    margin-bottom: 10%;
    font-size: 30px;

}

.tech2{
    width: 80px;
}

.chatIcon {

    color: #183a1d;
    display: inline;
    width: 30%;

}