.topNavWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    /* border-bottom: 1px solid #183a1d; */


}

.loginSignupWrapper{
    display: flex;
    gap: 10%;
    margin-right: 3%;

}



