.topNavWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-bottom:2%; */
    font-size: larger;
    border-bottom: 1px solid purple;
    /* background-color: #edeaff; */

}

.loginSignupWrapper{
    display: flex;
    gap: 20%;

}


/* .btn{
    background-color: none;
    padding: 1%;
    border:none;
    
} */
