.topNavWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    height:7vh;
    margin-bottom: 1%;


}

.loginSignupWrapper{
    display: flex;
    gap: 10%;
    margin-right: 3%;

}



