/* .chatHeaderWrapper{
    display: flex;
    align-content: space-around;
    margin: 3% 0;

} */

/* .chatHeaderEl{   
    text-align: center;   
} */

.chatProfilePic{
    width:50px;
    height:50px;
    border-radius: 100%;
}

.eachChatWrapper{
    margin:2% 1%
}