.MomentsWrapper{
     display: flex;
     flex-direction: column;
     

}
.momentWrapperOutside{
    display: flex;
    flex-direction: column;
    margin: 5% auto;
}

.momentMedia{
    width: 400px;
    height: 400px;
    border-radius: 5px;
    margin-top: 1%;
}

.likeCommentWrapper{
    display: flex;
    gap: 5%;
    margin: 1% 0;
}
.like:hover, .comment:hover{
    color: #f0a04b ;
}

.like, .comment{
    color: gray;
    display: inline;
    min-width: 50px;
}

/* liked when current user liked the moment */
.liked{
    color: #f0a04b
}

.commentWrapper{
    max-height: 300px;
    max-width: 400px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap:1%;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: smaller;
}

.commentProfilePic{
    width:30px;
    height:30px;
    border-radius: 100%;
    margin-right: 1%;
}